.navbar {
    /* position: sticky; */
    height: 10vh !important;
    justify-content: center;
    /* top: 0px; */
}
.fusion:hover {
    cursor: pointer;
    transform: rotateZ(360deg) scale(1.3);
    transition: 1.5s ease;
}

.fusion {
    transition: 1.5s ease;
    letter-spacing: 2px !important;
}


